aiohttp==3.10.11
pydantic==2.8.2
fastapi[all]
requests
pydantic-settings==2.4.0
uvicorn[standard]
SQLAlchemy==2.0.32
alembic
asyncpg
celery==5.4.0
redis==5.1.0
black==25.1.0
mypy==1.15.0
click==8.1.7
